body{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.container{
    display: flex;
    color: white;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0 ,0.3),rgba(0, 0, 0 ,0.3)) , url(fondo.jpg);
    background-position: center;
    object-fit: fill;
    background-size: cover;
}

.typing{
    position: relative;
    margin-left: 10px;
}

.typing::after{
    content:"";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 5%;
    border-right: 2px solid white;
    animation:  blink  0.5s infinite ease;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        
    }
}
