.maquina-escribir{
    background: #f7dd4a;
    position: relative;

}

.maquina-escribir::after{
    content: '';
    border-left: 2px solid black;
    background: #fff;
    right: 0;
    height: 100%;
    position: absolute;
    animation: maquinaescribir 2s forwards  alternate steps(14),
    blink .3s  infinite  step-end alternate;
}

@keyframes maquinaescribir{
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}

#maquina-escribir1{
    position: relative;
    display: inline-block;
    font-size: 20px;
    border-right: 3px solid black;
}

#maquina-escribir2{
    border-right: 3px solid black;
    margin: 0;
    background: #f7dd4a;
}
#maquina-escribir3{
    border-right: 3px solid black;
    margin: 0;
    background: #f7dd4a;
}

.caja{
    border: 2px solid black;
    max-width: 300px;
    height: 210px;
    padding: 10px;
}

#maquina-escribir4{
    display: inline;
    padding-right: 2px;
    border-right: 2px solid black;
    animation: blink .3s  infinite  step-end alternate;
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}