:root{
    --rojo:#E50914;
    --fondo:#141414
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--fondo);
    font-family: 'Open Sans' , sans-serif;

}


.header{
    padding: 30px 0;
}

.header__contenedor{
    width: 90%;
    margin: auto;
}

.header__contenedor--estructura{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-family: 'Bebas Neue' , cursive;
    font-weight: normal;
    color: var(--rojo); 
    font-size: 40px;

}

.header__link{
    color: #AAA;
    text-decoration: none;
    margin: 20px;
}

.header__link:hover,
.header__link--activo
{
    color: #fff;
}

/* ---- ---- ---- ---- ---- ---- 'MAIN PRINCIPAL ----- ---- ----- ----- ---- */

.main__pelicula{
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,.50)  , rgba(0,0,0,.50)), url(../img/backdrop.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: flex-end;
}

.main__contenido{
    margin: 0 auto ;
    margin-bottom: 6.25em;
}

.main__titulo{
   font-weight: 600;
   font-size: 3.12em;
   margin-bottom: 0.4em;
}

.main__descripcion{
    font-weight: normal;
 font-size: 1em;
 line-height: 1.75em;
 max-width: 50%;
    margin-bottom: 1.25em;
}

.main__button{
    background: rgba(0, 0, 0, .5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;
    margin-right: 1.25em;
    cursor: pointer;
    transition:  .3s ease all;
    font-size: 1.12em;
    
}

.main__button:hover{
    background: #fff;
    color: #333;
}


.main__icon{
    margin-right: 1.25em;
}


/* -------------------------------
        CONTENEDOR TITULO Y CONTROLES
----------------------------------*/

.main__titulocontrol{
   margin-bottom: 20px;
   display: flex;
   justify-content: space-between;
   align-items: end;
   
}

.main__titulocontrolh3{
    color: #fff;
    font-size: 30px;
    
}

.main__buttonind{
    background: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin: 2px;
}

.main__buttonind:hover,
.main__buttonind--activo{
    background: red ;
}

/* -------------------------------
            CONTENNIDO PRINCIPAL Y FLECHAS
----------------------------------*/
.main__recomendadas{
    margin-bottom: 70px;
}

.main__principalcarousel{
    display: flex;
    align-items: center;
    position: relative;

}

.main__flechaderecha,
.main__flechaisquierda{
    position: absolute;
    border: none;
    background: rgba(0, 0 , 0 , .3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}


.main__flechaisquierda:hover,
.main__flechaderecha:hover{
    background: rgba(0, 0, 0, .9); 
}

.main__flechaisquierda{

    left: 0;
}
.main__flechaderecha{
    right: 0;
} 



/* ----------- CARROUSEL ----------*/
.main__contenidocarousel{
    width: 100%;
    padding: 20px 0;
    /* overflow: hidden; */
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    /* scrollbar-color: transparent transparent; */
    scrollbar-width: none;
}

.main__contenidocarousel::-webkit-scrollbar {
    display: none;
    text-shadow: 1px 1px 2px 2px;
} 


  /*? with firefox */
html,body {
     /* overflow-y: scroll;  */
    scrollbar-color: #0A4C95 #C2D2E4;
  } 



   /*? with chrome */
   
  
    ::-webkit-scrollbar {
     width: 15px;
     height: 15px;
   }
   
  ::-webkit-scrollbar-track-piece {
    background-color: #C2D2E4;
  }
  
  ::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #0a4c95;
  }
  ::-webkit-scrollbar-thumb:vertical:active {
    height: 30px;
    background-color: rgb(46, 175, 250);
  }

  ::-webkit-scrollbar-thumb:horizontal {
      height: 30px;
      background-color: #0a4c95;
    }
    
    ::-webkit-scrollbar-thumb:horizontal:active {
      height: 30px;
      background-color: rgb(46, 175, 250);
    } 

.main__carousel{
    display: flex;
    flex-wrap: nowrap;
} 

.main__peliculas{
    min-width: 20%;
    transition:  .3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0 , 0, .3);
    
}

.main__peliculahover:hover{
    transform: scale(1.2);
    transform-origin: center;
}

.main__img{
    width: 100%;
    vertical-align: top;
}

/* ---- ---- ---- ---- ---- ---- 'MEDIA QUERY ----- ---- ----- ----- ---- */

@media screen and (max-width:810px) {
    .header__logo{
        margin-bottom: 10px;
        font-size: 30px;
    }

    .header__contenedor--header{
        flex-direction: column;
        text-align: center;
    }

    .main__pelicula{
        font-size: 14px;
    }
    .main__descripcion{
        max-width: 100%;
        box-sizing: border-box;
    }

    .main__contenidocarousel{
        overflow: visible;
        text-decoration-color: antiquewhite;
}

    .main__carousel{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }

    .main__indicadores,
    .main__flechaisquierda,
    .main__flechaderecha{
        display: none;
    }



      /*? with firefox */
html,body {
    /* overflow-y: scroll;  */
   scrollbar-color: #0A4C95 #C2D2E4;
 } 



  /*? with chrome */
  
 
   ::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }
  
 ::-webkit-scrollbar-track-piece {
   background-color: #C2D2E4;
 }
 
 ::-webkit-scrollbar-thumb:vertical {
   height: 30px;
   background-color: #0a4c95;
 }
 ::-webkit-scrollbar-thumb:vertical:active {
   height: 30px;
   background-color: rgb(46, 175, 250);
 }

 ::-webkit-scrollbar-thumb:horizontal {
     height: 30px;
     background-color: #0a4c95;
   }
   
   ::-webkit-scrollbar-thumb:horizontal:active {
     height: 30px;
     background-color: rgb(46, 175, 250);
   } 
   
}

/* -------------------------------
        REFERENCIAS IMAGENES
        https://www.themoviedb.org/movie/157336-interstellar


        REFERENCIA DE ESTILOS Y COLOR DEL SCROLL

            https://stackoverflow.com/questions/6165472/custom-css-scrollbar-for-firefox

            https://es.stackoverflow.com/questions/70701/ocultar-barra-de-scroll-sin-deshabilitarlo

            https://es.stackoverflow.com/questions/56179/como-ocultar-el-scrollbar/56828
----------------------------------*/


