*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 20px;
    font-family: monospace;
}

.contenedor{
    position: relative;
    height: 400px;
    overflow: hidden;
    margin: 20px 0;
}   

.parallax{
    position: absolute;
    width: 100%;
    background-image: url(walpaper.webp);
    background-position: center;
    background-size: cover;
    height: 100vh;
    z-index: -1;
}

.titulo{

    color: white;
    font-size: 3em;
    text-align: center;
    margin-top: 2px;
}