<main>
   <hr>
  <section style="padding:0 20px; ">
      <h1 style="color:blue; text-align:center">{{nombre}}</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita amet in iusto nulla nobis enim repellendus itaque eaque rerum voluptatibus, dolorem magnam aliquid, rem explicabo. Hic fugit soluta aliquid recusandae?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem officia culpa placeat. Facere excepturi ex minima aperiam, in provident magnam nobis quae mollitia iure id quis quisquam architecto libero tempora.</p>
  </section>
</main>