@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conte-padre{
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.conte-btn{
    /* border: 5px solid red; */
    /* background-color: rgb(139,213,255); */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    padding: 20px 40px;
    font-size: 2rem;
    font-family: 'Jura', sans-serif;
    background-color: rgba(0,255,255,0.2);
    border: 2px solid rgb(0,255,255,255);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 30px rgb(0,255,255);
    z-index: 50;
}

.btn:hover{
    transform: scale(0.95);
}

/* puntero */

.puntero{
    border-top: 3px solid  rgb(171,171,171) ;
    border-bottom: 3px solid  rgb(171,171,171) ;
    border-left: 3px solid  rgb(255,255,255) ;
    border-right: 3px solid  rgb(255,255,255) ;
    /* background-color: red; */
    /* width: 100px; */
    /* height: 100px; */
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(-50%,-50%); */
    z-index: 49;
    animation: girar 1s linear infinite;
}
.puntero2{
    /* border: 3px solid  white; */
    border-top: 3px solid  rgb(255,255,255) ;
    border-bottom: 3px solid  rgb(255,255,255);
    border-left: 3px solid  rgb(171,171,171) ;
    border-right: 3px solid  rgb(171,171,171) ;
    width: 80%;
    height: 80%;
    /* border-radius: 100px; */
    margin: 10%;
}

@keyframes girar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);

    }
}